body{
  margin: 0;
}

#product-wrapper{
  @import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Domine&display=swap');

  $outline-border: 3px solid #77778d;
  $interactive-font: #3278ae;

  display: flex;

  position: relative;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #292b2c;
  padding: 8.5vh 10vw;
  a, .product-shipping-button{
    color: $interactive-font;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
  }

  hr {
    height: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin: 24px 0;
  }
  //TODO: refactor other divs to use this class
  .row{
    display: flex;
    justify-content: space-around
  }

    /*****************
     ** LEFT COLUMN **
    ******************/
  .product-media-wrapper {
    width: 66%;
    max-height: 30rem;
    background: #fff;
    display: block;
    z-index: 2;
    .jumbo-wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      z-index: 1;
      .hover-wrapper {
        display: block; 
        position: absolute;
        height: 15rem;
        width: 10rem;
        transform: scale(1);
        border: 1px solid #ddd;
        pointer-events: none;
        outline: rgba(255,255,255,.59) solid 150rem;
        z-index: 0;
      }
      img {
        cursor: none;
        max-height: 100%;
        max-width: 100%;
      }
    }
    .product-info {
      font-size: 14px;
      span {
        color: #767676;
      }
    }
    .carousel {
      position: relative;
      background: #fff;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start; 
      padding-top: 1.3rem;
      padding-bottom: 10px;
      overflow: hidden;
      z-index: 1;
      .row {
        left: -270px;
        overflow-x: scroll;
        display: inline-flex;
        position: relative;
        flex-shrink: 0;
      }
      .row::-webkit-scrollbar {
        display:none;
      }
      div .active{
        border-color: #4eaaff;
      }
      .carousel-item{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        width: 114px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 4px;
        cursor: pointer;

        div > * {
          pointer-events: none;
        }
        img{
          max-height: 76px;
          max-width: 110px;
          padding: 4px;
        }
      }
      button {
        display: block;
        width: 3.2rem;
        position: absolute;
        top: 0;
        height: 100%;
        padding: 0;
        text-align: center;
        border: none;
        z-index: 1;
      }
      .left{
        left: 0;
        background: linear-gradient(to right,#fff 0,#fff 30%,rgba(255,255,255,0) 100%)
      }
      .right{
        right: 0;
        background: linear-gradient(to left,#fff 0,#fff 70%,rgba(255,255,255,0) 100%);
      }
    }
    #zoom-cursor {
      height: 30rem;
      width: 20rem;
      position: absolute;
      top: 20vh;
      left: 59vw;
      overflow: hidden;
      border: 1px solid #292b2c;
      z-index: 2;
      background: #fff;
      img {
        display: block;
        position: relative;
        max-height: 480px;
        max-width: 540px;
        transform: scale(2);
        transform-origin: top left;
      }
    }
  }

    /*******************
     ** RIGHT COLUMN **
    ******************/
  .checkout-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: .8rem 30px;
    width: 34%;
    background: #fff;

    h1 {
      margin: 0 0 5px 0;
    }
    .product-name h1 {
      font-size: 28px;
      line-height: 1.3;
      font-family: Domine;
    }
    .product-current-price{
      font-family: Domine;
      font-size: 20px;
      font-weight: 700;
    }
    .product-info-row {
      display: flex;
      justify-content: space-between;
    }
    .message-wrapper {
      margin: 24px 0;
    }
    .product-shipping-button {
      background: #fff;
      border: none;
      font-size: 1em;
    }

    .price-messaging {
      color: #C00
    }
    .details-link {
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;
    }
    .color-wrapper {
      color: #292b2c;
      font-size: 14px;
      width: 150px;
      .icon{
        height: 3.2rem;
        width: 3.4rem;
        padding: 0px 2px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .active{
        height: 3.2rem;
        width: 3.4rem;
        z-index: 1;
        border: 1px solid #4eaaff;
        position: absolute;
        border-radius: 5px;
        background: rgba(78, 170, 255, 0.4);
      }
      img {
        width: auto;
        max-height: 100%;
        max-width: 100%;
      }
    }
    .user-selection-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    .shoe-size-select{
      .select-labels {
        display: flex;
        justify-content: space-between;
      }
      label {
        font-size: 14px;
      }
      .size-chart-tab a{
        font-weight: 400;
        font-size: 14px;
      }
      select {
        color: #2e2e2e;
        height: 40px;
        font-size: 16px;
        border-radius: 2px;
        width: 100%;
      }

    }
    .checkout-quantity {
      p{
        font-size: 14px;
        margin: 0;
        color: #292b2c;
      }
      .row{
        align-items: center;
      }
      .product-quantity-selector {
        width: 38px;
        height: 24px;
      }
      button{
        -webkit-appearance: none;
        border: 1px solid #c5c5c5;
        border-radius: 50%;
        height: 1.4rem !important;
        width: 1.4rem !important;
        padding: 5px;
        font-size: 10px;
        text-align: center;
        cursor: pointer;
      }

    }

    .shipping-options {

      // Hides the radio buttons
      .radio {
        input[type=radio] {
          opacity: 0;
        }
        input[type=radio]+label {
          display: block;
          color: inherit;
          position: relative;
          cursor: pointer;
        }
        //appends a 'button' container before the label
        input[type=radio]+label::before{
          content: '';
          display: inline-block;
          position: absolute;
          top: .4rem;
          left: -1.2rem;
          height: 8px;
          width: 8px;
          border: .2rem solid #fff;
          border-radius: 50%;
          box-shadow: 0 0 0 0.125rem #222;
          vertical-align: -.2rem;
        }
        // what a 'checked' button will look like
        label::after {
          background: black;
          display: inline-block;
          height: 8px;
          width: 8px;
          border-radius: 50%;
          position: absolute;
          left: -1rem;
          top: .6rem;
        }
        // when not selected, show nothing
        input[type=radio] + label::after {
          content: none;
        }
        
        // when selected, show above styling
        input[type=radio]:checked+label::after {
          content: '';
        }
        // accessibility
        .checkbox input[type=radio]:focus + label::before {
          outline: rgb(59, 153, 252) auto 5px;
        }
      }
    }

    .buy {
      text-align: center;
      button {
        cursor: pointer;
        border-radius: 2px;
        font-size: 16px;
      }
      .primary-checkout-btn {
        background: #426c90;
        border: none;
        color: white;
        padding: 16px 32px;
        width: 100%;

      }
      .primary-checkout-btn:hover {
        background: #2b455c;
      }
      .secondary-btns {
        display: flex;
        justify-content: space-between;
        margin-top: .5rem;
        button {
          background: #fff;      
          border: 1px solid #c5c5c5;
          padding: 12px 0;
          width: 100%;
        }
        button:nth-child(1) {
          margin-right: 1rem;
        }
        button:nth-child(2) {
          margin-left: 1rem;
        }
        button:hover {
          background: #f4f4f4;
        }
      }
      a {
        display: block;
        font-weight: 400;
        margin: 20px 10px;
      }
    }
  }
}