## MAC files ##
.DS_Store

## NPM ##
npm
npm-debug.log
node_modules/

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# redis files
*.rdb

# environment set up
.env

# 1000 images for S3 bucket
images/

# API Keys
unsplashApiKey.js

# EC2 Files
*.pem

# new relic
newrelic_agent.log

# bundles
main.bundle.*
server.bundle.*